.left-section{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0px;
    width: 69px;
    background-color: white;
    z-index: 3;
    font-size: 12px;
    background-color: rgb(0,69,124);
  }
    
  .sidebar-icons{
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    font-family: Lato, Arial;
    color: white;
    background-color: rgb(0,69,124);
    transition: background-color 0.15s;
  }
  
  .sidebar-uoa{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    border: none;
    margin: 0px;
    padding: 0px;
    background-color: white;
    transition: background-color 0.15s;
  }

  .sidebar-account{
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    font-family: Lato, Arial;
    color: white;
    background-color: rgb(0,69,124);
    transition: background-color 0.15s;
  }

  .sidebar-account  img{
    height: 25px;
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 13px;
  }
  
  
  .sidebar-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    background-color: rgb(0,69,124);
    transition: background-color 0.15s;
    padding-top: 8px;
  }
  
  .sidebar-dash{
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    font-family: Lato, Arial;
    background-color: white;
    color: rgb(0,69,124);
  }
  
  .sidebar-dash img{
    display: flex;
    height: 26px;
    margin-bottom: 4px;
  }
  
  .sidebar-uoa img{
    display: flex;
    height: 100%;
    margin-bottom: 4px;
    border: 1px;
  }
  
  .sidebar-arrow img{
    display: flex;
    height: 24px;
    margin-bottom: 4px;
    -webkit-filter: invert(1);
    filter: invert(1);
  }
    
  .sidebar-icons:hover{
    background-color: rgb(0, 56, 102);
  }

  .sidebar-account:hover{
    background-color: rgb(0, 56, 102);
  }

  .sidebar-arrow:hover{
    background-color: rgb(0, 56, 102);
  }
  
  .sidebar-icons:active{
    background-color: rgb(0, 45, 82);
  }

  .sidebar-arrow:active{
    background-color: rgb(0, 45, 82);
  }

  .sidebar-account:active{
    background-color: rgb(0, 45, 82);
  }

    
  .sidebar-icons img{
    display: flex;
    height: 24px;
    margin-bottom: 4px;
    -webkit-filter: invert(1);
    filter: invert(1);
  }